body {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: normal;
  justify-content: center;
  background: url("../assets/blackboard.jpg");
}

.TvMazeDataList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 250px;
  grid-template-columns: 245px 90px 70px;
  grid-template-areas: "picture" "text" "info";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;

  transition: 0.5 ease;
  cursor: pointer;
  margin: 30px;
}

.picture {
  grid-area: picture;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.text {
  grid-area: text;
  margin: 25px;
}

.text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f40612;
}

.info .data {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.info .border {
  border-left: 1px solid #f40612;
}

.info .value {
  font-size: 22px;
  font-weight: 500;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}
